<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>contact form</title>
</head>
<body>
  <header><h1>Please enter your details here</h1></header>
  <main>
  <form action="/post/contact" method="POST">
    <input type="text" name="name" placeholder="Enter your name" required />
    <input type="email" name="email" placeholder="Enter your Email-ID" required />
    <input type="submit" value="Submit" />
  </form>
</main>
</body>
</html>